.text-large {
  font-size: 2em;
}

.title {
  font-family: "Inconsolata", monospace;
}

.draggable {
    /* Indicate the element draggable */
    cursor: move;

    /* It will be positioned absolutely */
    position: absolute;

    /* Doesn't allow to select the content inside */
    user-select: none;
}